/* HairMNL brand fonts */

@font-face {
  font-family: 'Self Modern';
  src: url('./SelfModern.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Self Modern';
  src: url('./SelfModernItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url('./BasisGrotesquePro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url('./BasisGrotesquePro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url('./BasisGrotesquePro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url('./BasisGrotesquePro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Mono';
  src: url('./BasisGrotesqueProMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
